body{

background:#050505;
color:white;
font-family:Arial;

display:flex;
justify-content:center;
align-items:center;

height:100vh;

}


.watch{

width:330px;
height:430px;

background:#111;

border-radius:60px;

padding:20px;

box-shadow:0 0 30px cyan;

text-align:center;

animation:pop 1s;

}


@keyframes pop{

from{
transform:scale(.5);
opacity:0;
}

to{
transform:scale(1);
opacity:1;
}

}



button{

width:80%;
padding:12px;

margin:8px;

border-radius:20px;

background:#222;

color:white;

border:1px solid cyan;

}



input{

width:80%;
padding:10px;

border-radius:20px;

}



#app{
display:none;
}


#settings,
#browser{
display:none;
}



#loading{

animation:pulse 1s infinite;

}


@keyframes pulse{

50%{
opacity:.3;
}

}



.light{

background:white;
color:black;

}
